<section class="content pl-2 pr-2 pt-3">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8">
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">Application Settings</h3>
                        <div class="card-tools">
                            <button class="btn btn-primary btn-tool pt-0 pb-0" type="button" (click)="forceReboot()"
                                title="Reboot ESP32">
                                <fa-icon [icon]='faRefresh'></fa-icon>
                            </button>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-2 asc">
                                <label class="fw-semibold">Tank Height</label>
                            </div>
                            <div class="col">
                                <hr class="dot-hr">
                            </div>
                            <div class="col-2 mb-2">
                                <input type="number" max="100" min="0.01" step="0.01"
                                    class="form-control form-control-sm" [(ngModel)]="tankHeight">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-4 asc">
                                <label class="fw-semibold">Water Level Notifaction Delta</label>
                            </div>
                            <div class="col">
                                <hr class="dot-hr">
                            </div>
                            <div class="col-2 mb-2">
                                <select class="form-control form-control-sm" [(ngModel)]="waterLevelNotificationDelta">
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-5 asc">
                                <label class="fw-semibold">Water Level History Notification Delta</label>
                            </div>
                            <div class="col">
                                <hr class="dot-hr">
                            </div>
                            <div class="col-2 mb-2">
                                <select class="form-control form-control-sm"
                                    [(ngModel)]="waterLevelHistoryNotificationDelta">
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-4 asc">
                                <label class="fw-semibold">Auto turn off time (in seconds)</label>
                            </div>
                            <div class="col">
                                <hr class="dot-hr">
                            </div>
                            <div class="col-2 mb-2">
                                <input type="number" max="100" min="0.01" step="0.01"
                                    class="form-control form-control-sm" [(ngModel)]="autoTurnOffTime">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-4 asc">
                                <label class="fw-semibold">Health check delay (in seconds)</label>
                            </div>
                            <div class="col">
                                <hr class="dot-hr">
                            </div>
                            <div class="col-2 mb-2">
                                <input type="number" max="100" min="0.01" step="0.01"
                                    class="form-control form-control-sm" [(ngModel)]="healthCheckDelay">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-2 asc">
                                <input type="checkbox" [(ngModel)]="autoTurnOnEnabled" id="autoTurnOn">
                                <label class="fw-semibold cp ml-1" for="autoTurnOn">Auto turn on</label>
                            </div>
                            <div class="col">
                                <hr class="dot-hr">
                            </div>
                            <div class="col-2 mb-2">
                                <input [disabled]="!autoTurnOnEnabled" class="form-control form-control-sm" type="time"
                                    [(ngModel)]="autoTurnOnTime">
                            </div>
                        </div>
                    </div>
                    <div class="card-footer text-right">
                        <button class="btn btn-sm btn-success" (click)="saveSettings()">
                            <fa-icon [icon]='faSave'></fa-icon>
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-4" *ngIf="health$ | async as health">
                <div class="row">
                    <div class="col">
                        <div class="info-box">
                            <span class="info-box-icon">
                                <fa-icon [icon]='faMicrochip'></fa-icon>
                            </span>
                            <div class="info-box-content">
                                <span class="info-box-text">CPU</span>
                                <span class="info-box-number">{{health|unwrap:'cpuFreqMHz'}}
                                    MHz</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col" *ngIf="health">
                        <div class="info-box">
                            <span class="info-box-icon">
                                <fa-icon [icon]='faMemory'></fa-icon>
                            </span>
                            <div class="info-box-content">
                                <span class="info-box-text">Heap</span>
                                <span class="info-box-number">{{+(health|unwrap:'freeHeap') / 1024|number
                                    : '2.0-2'}}
                                    Kb</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col" *ngIf="health">
                        <div class="info-box">
                            <span class="info-box-icon">
                                <fa-icon [icon]='faWifi'></fa-icon>
                            </span>
                            <div class="info-box-content">
                                <span class="info-box-text">Wifi</span>
                                <span class="info-box-number">{{health|unwrap:'wifiRSSI'}} dBm</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                </div>
            </div>
        </div>
    </div>
</section>